body {
    height: 100vh;
    margin: 0;
}

.box {
    height: calc(100% - 40px);
    width: 100%;
    background-image: url(http://source.unsplash.com/random);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.box::after {
    content: "Isso aqui é uma string";
    color: red;
}