* {
    margin: 0;
}

/* header {
    height: 400px;
    border: 7px dashed red;
} */


main {
    color: purple;

    background-color: rgb(55,100,50);
    background-image: url(https://pbs.twimg.com/profile_images/1291682473592659968/sEorc6oh_400x400.jpg) ;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    background-origin: content-box;
    background-clip: content-box;
    background-attachment: fixed;

    background: linear-gradient( rgba(255, 255,255, 0), rgba(255,0,0,0.2)), url(https://pbs.twimg.com/profile_images/1291682473592659968/sEorc6oh_400x400.jpg) no-repeat right top / 50px border-box content-box fixed;



}